body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear {
  clear: both;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 16px
}

main {
  background-color: white;
  margin: 10px 20%;
  padding-bottom:80px;
}
